include:
  - supabase-config/docker-compose.yml

services:
  discovery-server:
    container_name: discovery-server
    image: plantio1/discovery-server:latest
    ports:
      - "8761:8761"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-v",
          "localhost:8761"
        ]
      timeout: 10s
      interval: 5s
      retries: 3
    networks:
      - plant-network
  
  product-service:
    container_name: product-service
    image: plantio1/product-service:latest
    ports:
      - "8081:8081"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-sSfL",
          "--head",
          "-o",
          "/dev/null",
          "http://localhost:8081/actuator/health"
        ]
      timeout: 60s
      interval: 5s
      retries: 12
    # depends_on:
    #   supabase-pooler:
    #     condition: service_healthy
    networks:
      - plant-network
    env_file: "products-service/.env"

  api-gateway:
    container_name: api-gateway
    image: plantio1/api-gateway:latest
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-v",
          "localhost:8080/products/1"
        ]
      timeout: 10s
      interval: 5s
      retries: 3
    networks:
      - plant-network
    depends_on:
      product-service:
        condition: service_healthy
  frontend:
    container_name: frontend
    image: plantio1/frontend:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-v",
          "localhost:3000"
        ]
      timeout: 10s
      interval: 5s
      retries: 3
    networks:
      - plant-network
    depends_on:
      api-gateway:
        condition: service_healthy

networks:
  plant-network:
    name: plant.io-network

  